@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

.gradient-btn {
  background-image: linear-gradient(to right, #02218f, #0e72e3, #02218f, #0e72e3);
  background-size: 300% 100%;
  transition: background-position 0.4s ease-in-out;
}
body{
     font-family: "Rubik", sans-serif;
     width: 100vw ;
     overflow-x: hidden;
}
.gradient-btn:hover {
  background-position: 100% 0;
}

@layer components {
  .rubik {
     font-family: "Rubik", sans-serif;
    /* font-family: "Oswald", sans-serif; */
  }
  nav{
    z-index: 100;
  }
  
  /* Underline base */
  .top-link {
    @apply relative inline-block
           lg:after:content-[''] lg:after:absolute lg:after:left-0 lg:after:-bottom-1
           lg:after:w-0 lg:after:h-[1px] lg:after:bg-blue-500
           lg:after:transition-all lg:after:duration-300 text-black lg:text-white cursor-pointer;
  }

  /* Expand underline on hover OR group hover (so dropdown links work) */
  .top-link:hover::after,
  .group:hover .top-link::after {
    @apply w-[50%];
  }

  /* Rotate + icon */
  .top-link span {
    @apply transition-transform duration-300 origin-center;
  }
  .group:hover .top-link span {
    @apply rotate-180;
  }

  /* Active nav item styling */
  .nav-active {
    @apply text-blue-500 relative duration-300 font-bold;
  }
  .nav-active:hover {
    @apply text-white;
  }
  .nav-active::after {
    @apply content-[''] absolute w-full h-[2px] bg-blue-500 left-0 -bottom-2;
  }
   .animate-marquee {
            animation: marquee 20s linear infinite;
        }
         .marquee:hover .animate-marquee{
            animation-play-state: paused;
        }
  .features-list{
    @apply text-blue-800 py-3 shadow-xl rounded  shadow-blue-800/20 bg-white flex items-center text-[16px] gap-2 px-4
  }
  .features-list:hover{
    @apply bg-gradient-to-r from-[#0741b0] via-[#4b6fae] via-[#0741b0] to-[#4b6fae] text-white transition-all ease-in-out duration-300
  }
}
 @keyframes marquee {
            from {
                transform: translateX(100%);
            }
            to {
                transform: translateX(-100%);
            }
        }
       